/* These styles are shared by multiple themes */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic);
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* font-family: 'Poppins', sans-serif; */
/* Mulish */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');

/* Default colour scheme */
body {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Headings */
h1, h2, h3, h4, h5, h6, .popover {
    text-rendering: optimizeLegibility;
}

h1 {
    color: var(--primary);
    font-size: 30px;
    line-height: 33px;
    font-weight: 700;
}

h2 {
    color: var(--primary);
    font-size: 24px;
    line-height: 33px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

h4 {
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
}

h5 {
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
}

h6 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
}

hr {
    border-color: #cacaca;
}

.page-container {
    margin: auto;
    position: relative;
}

.layout-mode-fixed .page-container {
    max-width: 1152px;
    padding-left: 11px;
    padding-right: 11px;
}

.page-container:after {
    content: '';
    clear: both;
    display: table;
}

.page-wrapper > .page-container {
    padding: 24px 0 16px;
}

.page-container-columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*** Sidebar - start ***/
.menus-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar-menu-wrapper {
    background: #303641;
    border-radius: 4px;
    color: #aaa;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    float: left;
    margin-left: 13px;
    max-width: 208px;
    min-width: 208px;
    width: 208px;
    z-index: 2;
}

.sidebar-menu-wrapper.mobile-menu--level3_expanded {
    border-radius: 0;
}

.sidebar-menu-wrapper a {
    color: #aaa;
}

.sidebar-header {
    float: left;
    min-width: 223px;
    text-align: left;
}

.layout-mode-fluid .sidebar-header {
    margin-left: 13px;
}

.sidebar-header:after {
    clear: both;
    content: '';
    display: table;
}

.sidebar-logo {
    display: inline-block;
}

.sidebar-toggle {
    background: none;
    border: none;
    color: #fff;
    display: inline-block;
    font-size: 25px;
    width: auto;
    height: auto;
}

.sidebar-toggle:active {
    color: #aaa;
}

.sidebar-toggle [class*="icon"]:before {
    font-size: 30px;
}

.sidebar-logo img {
    max-height: 40px;
}

.logo-dropdown {
    position: relative;
}

.logo-dropdown ul {
    display: none;
}

.sidebar-collapsed .logo-dropdown:hover ul {
    display: block;
}

.sidebar-collapsed .sidebar-toggle:hover ~ ul {
    display: none;
}

.cms-footer {
    background: #f2f2f2;
    padding: 2em 1em 1em;
}

.plugin-menu-icon {
    display: inline-block;
    margin-right: 13px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.sublist {
    display: none;
}

/*** Sidebar - end ***/

/*** Bulletin area - start ***/
.bulletin-menu-wrapper .tab-content {
    float: left;
    width: 100%;
}

.bulletin-header {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #fff;
    color: #fff;
    height: 40px;
}

.bulletin-header a {
    color: #000;
}

.bulletin-menu-wrapper .nav-tabs {
    border: none;
    font-size: 13px;
}
.bulletin-menu-wrapper .nav-tabs > li {
    list-style: none;
}

.bulletin-menu-wrapper .nav-tabs > li > a {
    border: none;
    padding: 13px 15px 0;
    display: inline-block;
}

.bulletin-menu-wrapper .nav-tabs > li.active > a {
    color: var(--primary);
    border: none;
}

.bulletin-menu-wrapper .nav-tabs > .active:after {
    content: '';
    border: solid #CCC;
    border-width: 1px 0 0 1px;
    display: block;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    position: relative;
    left: 47%;
    left: -webkit-calc(50% - 7px);
    left: calc(50% - 7px);
    top: 3px;
    z-index: 1;
}

.bulletin-menu-wrapper .tab-content {
    padding: 0;
}


/** activities **/
.bulletin-activity-wrapper > h3 {
    padding-left: .5em;
}
.bulletin-activity-list-wrapper {
    max-height: 400px;
    overflow-y: auto;
}
.bulletin-activity-list {
    list-style: none;
    border-left: 1px solid #666;
    margin-left: .8em;
    padding-left: .3em;
}
.bulletin-activity-list:before {
    content:'';
    width: 1em;
    height: .15em;
    background:#fff;
    position: absolute;
    left: .25em;
}
.bulletin-activity-item {
    position: relative;
}
.bulletin-activity-item::before {
    content: '';
    width: 1em;
    height: 1em;
    background: #ccc;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: -.8em;
    top: .15em;
}
.bulletin-activity-time {
    color: inherit;
    display: block;
    padding: 0 .5em .5em;
}

/** contacts **/
.bulletin-list-item {
    list-style: none;
    font-size: 12px;
}

.bulletin-list-item [data-read="0"] {
    font-weight: bold;
}

.bulletin-list-item a,
.bulletin-list-item button {
    background: none;
    border: none;
    border-top: 1px solid #ccc;
    color: #333;
    display: block;
    padding: .8em;
    text-align: left;
    text-decoration: none;
    width: 100%;
}

.bulletin-contacts-list-wrapper .bulletin-list-item a {
    pointer-events: none; /* temporary, while the links do nothing */
}

.bulletin-list-item:first-child a,
.bulletin-list-item:first-child button {
    border-top: none;
}
.bulletin-contacts-list-wrapper {
    max-height: 400px;
    overflow-y: scroll;
}

.bulletin-menu-wrapper .tab-content {
    font-size: 14px;
}

.bulletin-contact a {
    color: #333;
}

.bulletin-contact-name {
    color: var(--primary);
}
.bulletin-list-item-name {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.bulletin-list-item-time {
    width: 100%;
    font-size: 10px;
    color: #aaa;
    display: block;
}

/** chat **/
.bulletin-chat-wrapper .nav-tabs {
    font-size: 11px;
}

/*** Bulletin area - end ***/

/*** Content area - start ***/

/* widths are given as 100% - sidebar width  */
.main-content-wrapper {
    padding: 0;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-content-wrapper {
        float: left;
        width: -webkit-calc(100% - 229px);
        width: calc(100% - 229px);
    }

    .sidebar-collapsed .sidebar-menu-wrapper {
        display: none;
    }

    .sidebar-collapsed .main-content-wrapper {
        width: 100%;
    }
}

@media screen and (min-width: 701px)
{
    .main-content-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
    .main-content-wrapper > div:only-child {
        width: 100%;
    }
}

.navbar-sub .active a {
    color: #929292;
    font-weight: bolder;
}

.navbar-sub li.active:after {
    background: #fff;
}

#navbar-breadcrumbs,
#navbar-breadcrumbs a {
    color: #484848;
}

#navbar-breadcrumbs li:last-child a {
    color: var(--primary);
}

.application-selector {
    display: inline-block;
    float: left;
    font-size: 20px;
    position: relative;
}

.application-selector .expand-dropout,
.application-selector .dropdown-toggle {
    padding: 6px 12px;
    text-decoration: none;
}

.application-selector .expand-dropout.expanded {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.application-selector .dropout {
    font-size: 13px;
    left: 0;
    right: initial;
    margin-top: 1px;
    min-width: 180px;
}

.application-selector .dropout:before {
    left: 10px;
    right: initial;
}

.application-selector .dropout .application-selector-choice {
    padding-left: 2em;
}

.current > .application-selector-choice:before {
    content: '\2022';
    font-size: 2em;
    line-height: 1;
    position: absolute;
    top: 0;
    left: .4em;
}

a.application-selector-choice {
    text-decoration: none;
}


.row {
    box-sizing: border-box;
    margin: 0;
    padding: 0 15px;
}


@media screen and (max-width: 767px) {
    .page-content {
        margin-left: -15px;
        margin-right: -15px;
    }

    .navigation-menu .page-container {
        padding-left: 20px;
        padding-right: 20px;
    }

}

/*** Content area - end ***/

/*** User menu - start ***/
.usermenu-wrapper {
    display: table;
    padding: 0;
    text-align: right;
    width: 100%;
}

.usermenu-item {
    height: 61px;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
}

.usermenu-wrapper .usermenu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar-logo .usermenu-item:first-child {
    padding-left: 0;
}

.usermenu-wrapper .btn,
[id="plugin_tools"] .btn,
[id="plugin_tools"] .btn-group .btn {
    border-width: 0;
    font-size: 13px;
    line-height: 1.76923077;
    min-height: 40px;
    padding: .61538em  1.38461538em;
    text-transform: uppercase;
}

.usermenu-wrapper .btn,
.navigation-menu .btn-header-action {
    line-height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: none;
}

.btn.btn-header-action {
    background: var(--success);
    border: none;
    color: #fff;
}

.btn.btn-header-action:hover {
    background: var(--success-hover);
}

.btn.btn-header-action:active {
    background: var(--success-active);
}

.btn.view-website-btn {
    background: #fff;
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn.view-website-btn:hover {
    color: var(--primary-hover);
}

.btn.view-website-btn:active {
    color: var(--primary-active);
}

.theme-02 .btn.btn-header-action {
    background: #fff;
    color: #000;
}

.theme-02 .btn.view-website-btn {
    background: #fff;
    color: #000;
}
.theme-02 .btn.view-website-btn:hover {
    background: #fff;
    color: #000;
}

[id="plugin_tools"] .btn {
    min-width: 180px;
}

[id="plugin_tools"] .btn-group-pills .btn {
    border-width: 1px;
    font-size: 16px;
    padding: .25em;
    text-transform: none;
    width: auto;
    min-width: 120px;
}

.header-buttons {
    margin-top: 1.1em;
}

.header-buttons .btn {
    font-size: 16px;
    padding: .25em 1.625em;
    border: 0;
    min-height: 38px;
}

.header-buttons .btn + .btn-group-pills {
    margin-left: 26px;
}

.header-buttons .btn-group-pills .btn {
    font-size: 18px;
    padding: .5em;
    line-height: 1;
    min-width: 0;
    min-height: 38px;
}

.header-buttons .btn-group-pills .btn span {
    min-width: 4.275em;
}

.usermenu-wrapper > div {
    display: inline-block;
    vertical-align: top;
}

.usermenu-wrapper .dropout {
    background: #303641;
    color: #aaa;
    top: 40px;
}
.usermenu-wrapper .dropout > li > a {
    color: #aaa;
}
.usermenu-wrapper .dropout > li > a:hover {
    color: #fff;
}

/* Search */
.searchbar-inner {
    color: #fff;
    padding-right: 5px;
    position: relative;
}

.searchbar-wrapper:after {
    clear: both;
    content: '';
    display: table;
}

.searchbar-wrapper label {
    color: #373737;
    display: inline-block;
    font-size: 20px;
    padding-right: 6px;
    position: absolute;
    top: 5px;
    right: 8px;
}

a.searchbar-icon {
    color: inherit;
    text-decoration: none;
}

.searchbar-wrapper [role=status] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}
.searchbar-wrapper #resultscount {
    color: #aaa;
    position: absolute;
    top: 7px;
    right: 10px;
}
#search2 {
    height: 40px;
    width: 160px;
    margin-top: -1px;
    padding-left: 9px;
}
.searchbar-wrapper #resultscount {
    right: 38px;
}
/* User tools */
.user-tools-icon {
    display: inline-block;
    font-size: 22px;
}

.user-tools {
    float: left;
    margin: 0;
    text-align: right;
}

a.user-tools-link,
.user-tools-icon {
    color: #fff;
}
a.user-tools-link:hover,
a.user-tools-link:focus {
    text-decoration: none;
}

.user-tools .dropdown-toggle:after {
    border-top-color: #fff;
}

.bulletin-header ul.nav-tabs.nav-tabs li a {
    background: none;
}

.usermenu-wrapper .dropdown-toggle {
    color: #fff;
    display: inline-block;
    min-width: 45px;
    min-height: 40px;
    position: relative;
}

.usermenu-wrapper a.dropdown-toggle {
    padding-right: 26px;
}

.dashboards-dropdown-btn {
    background: none;
    color: #fff;
    border: none;
    font-size: 13px;
    height: 57px;
    padding-left: 0;
    padding-right: 0;
    text-transform: uppercase;
}

.usermenu-wrapper .btn .caret {
    margin-left: .5em;
}

.user-tools .dropdown-toggle:after {
    content: '';
    border: solid transparent;
    border-width: .35em .3em 0;
    border-top-color: #fff;
    display: block;
    font-size: .85rem;
    height: 0;
    position: absolute;
    right: 8px;
    top: 45%;
    width: 0;
}

.user-tools .dropdown-menu {
    margin-top: 0;
    min-width: 160px;
}

.user-tools-link[aria-expanded="true"],
.user-tools-link:hover,
.user-tools-link:focus {
    text-decoration: none;
}

.user-tools .user-tools-icon {
    width: 31px;
    height: 31px;
    font-size: 20px;
    line-height: 31px;
    text-decoration: none;
}

.user-tools > li {
    border: solid #1b1b1b;
    border-width: 0 0 0 1px;
    display: inline-block;
    float: left;
    margin-left: 1px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    text-align: center;
}

.user-tools > li:last-child {
    border-right-width: 1px;
}

.user-tools-link {
    display: inline-block;
    padding: 7px 14px;
}

.user-tool-text {
    position: absolute;
    top: -99999px;
    left: -99999px;
}

.user-tools .dropdown-menu li {
    position: relative;
}

.user-tools .user-notifications-dropout {
    list-style: none;
    min-width: 385px;
}

.user-notifications-list-wrapper {
    max-height: 150px;
    overflow-y: scroll;
}

.user-notifications-message,
.user-notifications-read,
.user-notifications-message-body,
.user-notifications-empty_notice {
    font-size: 14px;
}

.user-notification-time {
    color: #aaa;
    font-size: 11px;
    text-align: right;
}

#message-notifications-amount {
    position: absolute;
    right: 5px;
    top: 2px;
}

.profile-section-avatar {
    border-radius: 3px;
    margin-left: 8px;
    height: 39px;
    width: 39px;
}

/*** User menu - end ***/

/* Misc */

.dashboard-welcome {
    color: #949494;
    font-size: 14px;
    margin-top: -5px;
}

.dashboard_icons img {
    width: 45px;
}

.dashboard_icons_active .dashboard_plugin a {
    background: var(--primary);
    box-shadow: 0 6px 5px 0 #d6d6d6;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.dashboard_icons_active .dashboard_plugin svg {
    fill: #fff;
}

.dashboard_icons_active .dashboard_plugin a:hover {
    background: #0074cc;
    background: var(--primary-hover);
    color: #fff;
}

.dashboard_icons_active .dashboard_plugin a:active {
    background: var(--success);
    color: #fff;
}

.dashboard_icons_active .dashboard_plugin a:hover svg {
    fill: #fff;
}

.dashboard_icons_inactive .dashboard_plugin a:hover {
    color: #fff;
    color: var(--primary);
}

.dashboard_icons_inactive .dashboard_plugin a:hover svg {
    fill: #fff;
    fill: var(--primary);
}

.dashboard_icons_active .dashboard_plugin_name {
    color: #fff;
    font-size: 16px;
    text-align: center
}

.dashboard_icons_inactive .dashboard_plugin a:hover {
    color: #0074cc;
}

.dashboard_icons_inactive .dashboard_plugin a:hover svg {
    fill: #0074cc;
}

.nav-tabs {
    margin-bottom: 0;
}


#technopath .main-content-wrapper > .navbar-sub {
    margin-bottom: 0;
}


.table {
    color: #000;
}

.table a:not([class]) {
    color: inherit;
}

.table-striped tbody, .dataTables_paginate {
    background: #fff;
}

.paginate_disabled_next,
.paginate_disabled_previous {
    opacity: .5;
    cursor: not-allowed;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f8f8f8;
}

.table tr.selected > td {
    background: var(--primary);
    color: #fff;
}

tr.selected .btn-outline-primary {
    background: #fff;
    color: var(--primary)
}

tr.selected .btn-outline-primary:hover {
    background: #fff;
    color: var(--primary-hover)
}

.table-hover > tbody > tr:hover > td {
    background: #fff;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
    box-shadow: 0 -1px 0 var(--primary);
}

.table .dropdown-menu {
    font-weight: 400;
}

.dataTables_paginate {
    background: #f5f5f5;
    border: none;
    box-shadow: 0 3px 1px #dadada;
    color: var(--primary);
    font-weight: bold;
    line-height: 34px;
    margin-top: 10px;
}

.dataTables_paginate a {
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}

.dataTable tbody .td-cell {
    max-height: 50px;
    text-overflow: ellipsis;
}

.dataTable tbody .td-cell div {
    overflow: hidden;
    max-height: 50px;
}

#system-logs-table.dataTable tbody .td-cell {
    max-height: none;
    text-overflow: none;
}

#system-logs-table.dataTable tbody .td-cell div {
    overflow: visible;
    max-height: none;
}

.dataTable tbody td[data-label="Actions"] .td-cell div {
    overflow: visible;
}

.dataTables_paginate a:hover{
    background: #fff;
}

.dataTable {
    font-weight: normal;
    width: 100% !important;
}

.dataTables_wrapper > .row-fluid:first-child {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    padding-bottom: 7px;
}

.dataTables_length,
.dataTables_filter,
.dataTables_info {
    color: #929292;
    font-weight: 200;
    font-size: 16px;
}

.dataTables_info {
    font-size: 13px;
    margin-top: 10px;
}

.dataTables_length select,
.dataTables_filter input {
    background: #fff;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    height: 35px;
}

.dataTables_filter input {
    min-width: 180px;
}

.btn.btn-actions {
    background: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    box-shadow: 2px 2px 1px #ddd;
    color: #939393;
    font-weight: bold;
    padding: 9px 19px;
}

.table .btn-actions {
    border-radius: 0;
    font-weight: inherit;
    padding: 4px 10px;
}

.theme-02 .input_group-icon {
    color: #0074cc;
}

:checked + .form-checkbox-helper:after {
    color: var(--primary);
}

:checked + .form-radio-helper:after {
    background-color: var(--primary);
}

.formError.formError .formErrorContent,
.formError.formError .formErrorArrow div {
    background-color: var(--success);
}

[class*=span]{margin:0;}
.span12{width:100%;float:none;clear:both;}

/* Image uploader */
.dnd_notice {
    color: #605e5f;
    font-weight: bold;
    font-size: 16px;
}
.dnd_notice span:first-child {
    font-weight: bold;
}

/*** Environment colours ***/
.sidebar-menu-wrapper,
.mobile-menu-level3-section {
    background: #f9f9f9;;
}

.navigation-menu,
.mobile-breadcrumbs,
.dropdown-menu-header,
.header-search {
    background: var(--primary);
    color: #fff;
}

.theme-02 .navigation-menu {
    background: #000;
}
/* Dev and test */
.theme-02.env-mode30 .navigation-menu, .theme-02.env-mode30 .dropout,
.theme-02.env-mode40 .navigation-menu, .theme-02.env-mode40 .dropout {
    background: #08697B;
}
/* UAT */
.theme-02.env-mode20 .navigation-menu, .theme-02.env-mode20 .dropout {
    background: #615F5F;
}

.CMSTickets {
    overflow-x: scroll;
}

.panel-primary {
    border-color: var(--primary);
}

.panel-primary .panel-heading {
    background-color: var(--primary);
    border-color: var(--primary);
}

.panel-primary .panel-heading .btn-link {
    border: none;
    color: inherit;
}

.twitter-panel {
    border: 1px solid var(--primary);
    border-radius: 4px;
}

.twitter-panel .panel-body {
    color: #7E7E7E;
    padding-top: 5px;
    padding-bottom: 5px;
}

.twitter-panel .panel-heading {
    background: var(--primary);
    color: #fff;
    padding: 5px 20px 5px 27px;
}

.twitter-panel .panel-heading h2,
.twitter-panel .panel-heading a {
    color: inherit;
    font-size: 15px;
    font-weight: 200;
}

.twitter-panel .panel-heading strong,
.twitter-panel .panel-heading .icon-twitter {
    font-size: 24px;
    font-weight: bolder;
}

.twitter-panel .panel-heading .icon-twitter {
    display: inline-block;
    margin-right: 10px;
}

.twitter-panel .panel-heading h2, .twitter-panel .panel-heading a {
    font-size: 16px;
}

.tweet-heading {
    font-size: 14px;
}


.tweet-account_name {
    color: var(--primary);
    font-size: 15px;
}

.tweet-heading .icon-twitter {
    float: right;
    font-size: 18px;
    margin-top: -2px;
}

.twitter-panel-tweet {
    border-bottom: 1px solid #e5e5e5;
    padding: 28px 12px 25px;
}

.twitter-panel-tweet:last-of-type {
    border-bottom: none;
}

.tweet-screen_name {
    color: #7c7c7c;
    font-size: 15px;
    font-weight: 200;
}

.tweet-message {
    color: #7c7c7c;
    font-size: 13px;
    font-weight: 200;
    padding: 16px 0;
}

.tweet-footer {
    margin-top: 8px;
}

.tweet-footer a {
    color: #7c7c7c;
}

.tweet-footer a:hover {
    border-color: var(--primary);
    color: var(--primary);
    text-decoration: none;
}

.tweet-date {
    font-size: 12px;
    font-weight: 200;
}

.tweet-actions {
    float: right;
}

.tweet-actions a {
    border:1px solid #f3f3f3;
    border-radius: 3px;
    color: #ccc;
    display: inline-block;
    margin-left: 2px;
    padding: 3px 7px;
}

.tweet-footer a:hover {
    color: var(--success);
    border-color: var(--success);
}

.table .dropdown-menu button,
.table .dropdown-menu a {
    color: #000;
}

.table .dropdown-menu > li > button {
    width:100%;
    text-align:left;
}
table.table .dropdown-menu > li > a,
table.table .dropdown-menu > li button {
    padding: .5rem 1em;
}

.dropdown-menu > li > h3 {
    padding-left: .5rem;
}

.dropdown-menu > li > button {
    width: 100%;
    text-align: left;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > button:hover,
.dropdown-menu > li > button:focus,
.dropdown-menu-list li > a:hover,
.dropdown-menu-list li > a:focus,
.dropdown-menu-list li > button:hover,
.dropdown-menu-list li > button:focus {
    background-color: var(--primary);
    color: #fff;
}

.edit_profile_wrapper {
    font-weight: 200;
}

.edit_heading,
.edit_heading-tabs li.active a {
    background: var(--primary);
    color: #fff;
}

#edit_family {
    border-color: var(--primary);
}

.examiner_transcript {
    padding: 0!important;
    color: var(--dark_gray);
}
.examiner_transcript table{
    font-size: 12px !important;
    border-radius: 2px;
}
.examiner_transcript table td{
    line-height: 30px !important;
}
.examiner_transcript .btn-transparent{
    background-color: transparent;
    border: none;
}
.examiner_transcript .hiddenRow {
    padding: 0!important;
    font-size: 12px;
}
.examiner_transcript .bg-primary {
    background-color: var(--primary) !important;
}
.examiner_transcript .total_results, .examiner_transcript .view-link {
    color: var(--secondary);
    background-color: var(--primary);
}
.examiner_transcript .total_results_section_header {
    color: var(--secondary);
    padding-left: 0;
    padding-right: 0;
}
.examiner_transcript .topic {
    margin-left: 10px;
    margin-top: 5px;
}
.examiner_transcript .view-link {
    color: var(--secondary)!important;
}
.examiner_transcript .ex-tx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.examiner_transcript .ex-tx h4{
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 5px;
}
.examiner_transcript .ex-tx h4 .strong {
    font-weight: 500;
}

.examiner_transcript h6 {
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    line-height: 1.5;
    margin-bottom: 5px!important;
}
.examiner_transcript .ex-tx h6 .strong{
    font-weight: 500;
}

.examiner_transcript .btn:active {
    box-shadow: none;
}
.examiner_transcript .btn:active:focus {
    outline: none;
}
.examiner_transcript .btn-up {
    padding: 12px;
    cursor: pointer;
}
.examiner_transcript .btn-link {
    color: var(--primary);
}
.examiner_transcript .dropdown-menu{
    border: none;
}
.examiner_transcript .bg-white{
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
}
.examiner_transcript .p-10{
    padding: 10px 10px;
}
.examiner_transcript .p-5{
    padding: 5px 5px!important;
}
.examiner_transcript .d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.examiner_transcript .checkbox-cus{
    height: 20px;
    width: 20px;
}
.examiner_transcript .mr-2{
    margin-right: 10px;
}
.examiner_transcript .ml-2{
    margin-left: 10px;
}

.examiner_transcript .p-40{
    padding: 0px 40px;
}
.examiner_transcript .p-30{
    padding: 0px 30px;
}
.examiner_transcript .p-20{
    padding: 20px 20px;
}
.examiner_transcript .pb-2 {
    padding-bottom: 20px;
}

.examiner_transcript .no-top-bottom-padding {
    padding-bottom: 0;
    padding-top: 0;
}
.examiner_transcript .no-top-padding {
    padding-top: 0!important;
}
.examiner_transcript .no-bottom-padding {
    padding-bottom: 0!important;
}

.examiner_transcript .mb-2{
    margin-bottom: 20px;
}
.examiner_transcript .t-w{
    width: 500px;
    max-height: 300px;
    min-height: 100px;
    overflow-y: scroll;
}
.examiner_transcript .t-16{
    font-size: 12px;
    margin-top: 5px;
}
.examiner_transcript .mt-2{
    margin-top: 20px;
}

.examiner_transcript .wrapper label{
    position: relative;
    width: 100%;
}
.examiner_transcript .wrapper label i{
    position: absolute;
    top: 30px;
    right: 10px;
}
.examiner_transcript .f-400{
    font-weight: 400 !important;
}
.examiner_transcript .mt-3{
    margin-top: 25px;
}
.examiner_transcript .w100-cus{
    width: 100px;
    margin-bottom: 0;
}
@media(max-width:768px){
    .examiner_transcript aside{
        display: none;
    }
    .examiner_transcript .pl-custom-3{
        padding-left: 20px;
    }
}

:root {
    --primary: #96C0D0;   --primary-hover: #6ba5bb;   --primary-active: #6ba5bb;
    --secondary: #f5f5f5; --secondary-hover: #d3d3d3; --secondary-active: #e6e6e6;
    --success: #517CAB;   --success-hover: #517CAB;   --success-active: #517CAB;
    --info: #17a2b8;      --info-hover: #2f96b4;      --info-active: #31b0d5;
    --warning: #ffc107;   --warning-hover: #f89406;   --warning-active: #ec971f;
    --danger: #f00;       --danger-hover: #f62727;    --danger-active: #f10303;
	--cc-grey:#999;
	--cc-light-grey:#eee;
	--cc-colour-one: #D7DF3B;
	--cc-colour-two: #A1D7A6;
	--cc-colour-three: #96C0D0;
	--cc-colour-four: #517CAB;
	--cc-colour-five: #37488F;
	--cc-font-colour: #333;
}

/* Header */

.navigation-menu, .mobile-breadcrumbs, .dropdown-menu-header, .header-search {
    background: #fff;
    color: #fff;
	color: var(--cc-font-colour);
    -webkit-box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 12%);
}

.header-menu-section > a {
    border-color: var(--cc-light-grey);
}

.usermenu-item,
.user-tools > li {
    border-color: var(--cc-light-grey);
    border-width: 0 1px 0 0;
}

.user-tools-wrapper .usermenu-item {
    border-width: 0 0 0 1px;
}
a.user-tools-link, .user-tools-icon {
    color: var(--cc-colour-three);
}

.user-tools > li:last-child {
    border-right: none;
}

.header-search {
    background: var(--primary);
    color: #fff;
}



.sidebar-toggle {
    background: none;
    border: none;
    color: var(--cc-colour-three);
    display: inline-block;
    font-size: 25px;
    width: auto;
    height: auto;
}



/* Sidebar */
.sidebar-logo img {
    max-height: none;
}

.sidebar-logo-link img {
    height: 50px;
}

/* Login */
.login-form-container .client-logo {
    height: 56px;
    max-width: 100%;
    text-align: center;
}
